        #board {
            float:left;
            position: absolute;
        }
        #unit_layer {
            float:left;
            position:absolute;
        }
        #action_menu {
            position:absolute;    
            width: 96px;
            height: 128px;
            background-color: rosybrown;
            background-size: cover;    
            display:none;
            float: left;
        }
        #unit_info {
            position: absolute;
            width: 96px;
            height: 128px;
            background-color: aqua;
            background-size: cover;
            display: none;
            float:left;
        }
        #title_board {
            position:absolute;
            font-size:x-large;
            text-align:center;
            width:320px;
            height:320px;
            background-color: black;
            background-size: cover;
            color:white;
            float:left;
        }
        #turn_info { /*Work on a better way to get this turn info into the proper position. Maybe make it the parent of the board?*/
            position: absolute;
            display:none;
            left: 256px;
        }
        .tile {
            background-color: red;
            width: 32px;
            height: 32px;
            float:left;
            background-repeat:no-repeat;
            background-size:cover;
        }
        .unit {
            width: 32px;
            height: 32px;
            float:left;
            background-repeat:no-repeat;
            background-size:cover;
            font-size:small;
            text-align:end;
        }
        /*Field Images*/
       .grass {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/grass.png");
        }
       .grass_mntn {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/grass_with_mountain_shadow.png");
        }       
       .marsh {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/marsh.png");
        }
        .mntn_small {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/mountain_small.png");
        }
        .road_h {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/road_horizontal.png");
        }
        .tree {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/tree.png");
        }
        .water {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/water.png");
        }
        .water_bottom {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/water_bottom.png");
        }
        .water_bottom_left {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/water_bottom_left.png");
        }
        .water_left {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/water_left.png");
        }
        .water_top_left {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/water_top_left.png");
        }
        .water_top {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/water_top.png");
        }
        .water_top_right {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/water_top_right.png");
        }
        .water_right {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/water_right.png");
        }
        .water_bottom_right {
            background-image: url("https://s3-us-west-2.amazonaws.com/advance-war-clone/water_bottom_right.png");
        }
        /*Military Unit Images*/
        .mech_left {
            background-image: url("https://github.com/DrDoes-Sandbox/Advanced-War-Clone/blob/master/sprites/mech_left.png?raw=true");
        }
        .soldier_left {
            background-image: url("https://github.com/DrDoes-Sandbox/Advanced-War-Clone/blob/master/sprites/soldier_left.png?raw=true");
        }
        .tank_left {
            background-image: url("https://github.com/DrDoes-Sandbox/Advanced-War-Clone/blob/master/sprites/tank_left.png?raw=true");
        }
        .transport_heli_left {
            background-image: url("https://github.com/DrDoes-Sandbox/Advanced-War-Clone/blob/master/sprites/transport_helicopter_left.png?raw=true");
        }
        /*Unit Faded to signify unit went this turn*/
        .faded {
            opacity: 0.4;
        }
        /*Selectors*/
        .selected {
            outline-color:blue;
            outline-width:medium;
            outline-style:auto;
        }
        .grabbed {
            outline-color:blueviolet;
            outline-width:thick;
            outline-style:auto;
        }
        /*Action Menu Buttons*/
        .action_button {
            width:inherit;
            height: 20px;
            outline: 1px solid black;
            text-align:center;
            /*outline-style: */
        }
        .button_selected {
            /*outline-color:chartreuse;
            outline-width:thick;
            outline-style:auto; */
            color:chartreuse;
            font-size:large;
        }
        .move_action_button {
            
        }
        .attack_action_button {

        }

       /*Tests & WIP*/
        .unit_stat {
            width:inherit;
            height: 20px;
            text-align:center;
            outline: 1px solid blue;
        }